.toggle_btn {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 1000;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg);
  color: var(--text-heading);
  transition: all 0.3s ease;
  margin-left: 0.75rem;
}

.toggle_btn.with_scroll_button {
  left: 90px;
}

.toggle_btn:hover {
  background-color: var(--button-hover);
}

/* استایل‌های ریسپانسیو */
@media (max-width: 768px) {
  .toggle_btn {
    width: 62px;
    height: 62px;
    bottom: 15px;
    left: 15px;
  }

  .toggle_btn.with_scroll_button {
    left: 80px;
  }
}

@media (max-width: 480px) {
  .toggle_btn {
    width: 58px;
    height: 58px;
    bottom: 10px;
    left: 10px;
  }

  .toggle_btn.with_scroll_button {
    left: 70px;
  }
}
